.btn-primary {
  background: #E16464;
  transition: all .2s ease;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.btn-primary:hover {
  /* transform: scale(1.05); */
  background: #E16464;
}