@import 'reset.css';
@import 'buttons.css';
@import 'text.css';
@import 'lists.css';
@import 'media.css';

.hero {
  padding: 3em 3em;
  background-image: url('../img/watches.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 120% 100%;
  height: 100vh;
  border-bottom: 1px solid #ccc;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3rem 20%;
  font-weight: 500;
  background: #fff;
  z-index: 1;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 0 .4em;
  background: transparent;
}

input:focus {
  box-shadow: none;
  border: none;
}

.main-container {
  width: 60%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container * {
  margin-bottom: 3rem;
}

.main-container p {
  padding-left: 2em;
  border-left: 1px solid #333;
  width: 50%;
}

.details {
  padding: 3em;
}

.details-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.details-col {
  width: 30%;
}

.details-center {
  height: 800px;
}

.details-center-left, .details-center-right {
  width: 50%;
  padding: 3em;
  height: 100%;
}

.details-center-left {
  float: left;
  display: flex;
  align-items: center;
}

.details-center-right {
  float: right;
}

.details-center-left p {
  border-left: 1px solid #333;
  padding-left: 2em;
}

.features {
  height: 100vh;
  background: rgba(0,0,0,0.1) url('../img/runners.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}

.features-container {
  width: 45%;
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.features-container * {
  margin-bottom: 3rem;
}

.features-container p {
  padding-left: 2em;
  border-left: 1px solid #fff;
  color: #fff;
  width: 50%;
}