body, html {
  font-family: 'Roboto', sans-serif, serif;
  color: rgb(75, 75, 75);
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 1.8em;
}

p {
  font-weight: 500;
  color: rgb(146, 146, 146);
}

.details-center p {
  margin-bottom: 3rem;
}

.dots {
  font-size: 2.5em;
  color: #ccc;
  letter-spacing: 0.2em;
}

.learn-more {
  color: #E16464;
  font-weight: 700;
  margin-top: 1.5em;
}